<div id="<%= dom_id car %>">
  <p>
    <strong>User:</strong>
    <%= car.user_id %>
  </p>

  <p>
    <strong>Car type:</strong>
    <%= car.car_type %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= car.model %>
  </p>

</div>
